In [1]:
# Método I - Importar função
import os
import separar_valores_missing

In [ ]:
# Método II - Importar função
#import os
#from separar_valores_missing import separar_valores_missing

In [ ]:
# Método III - Importar função
#import os
#from separar_valores_missing import *

In [2]:
# Verificar se função foi importada
separar_valores_missing

In [3]:
# Importar Biblioteca
import pandas as pd

In [4]:
# Dados do Github
link = "https://raw.githubusercontent.com/rrafaelleonardo/Database/main/dados.csv"

In [5]:
# Carregar conjunto de dados
df = pd.read_csv(link, sep = ",")
df.head(3)

,UF,IDADE,ESCOLARIDADE,ESTADO_CIVIL,QT_FILHOS,VL_IMOVEIS,TEMPO_ULTIMO_EMPREGO_MESES,ULTIMO_SALARIO,VALOR_TABELA_CARROS,SCORE_CREDITO,EMPRESTIMO
0,SP,19,Superior Cursando,Solteiro,0,0.0,8.0,1800.0,0.0,56,SIM
1,MG,23,Superior Completo,Solteiro,1,0.0,9.0,4800.0,50000.0,18,NAO
2,SC,25,Segundo Grau Completo,Casado,0,220000.0,18.0,2200.0,30000.0,45,SIM

In [ ]:
# Método II - Verificar parâmetro(s) da função
#separar_valores_missing

In [ ]:
# Método II - Uso da Fução
#separar_valores_missing(df);

In [6]:
# Método I - Verificar parâmetro(s) da função
separar_valores_missing.separar_valores_missing

In [7]:
# Método I - Uso da Fução
separar_valores_missing.separar_valores_missing(df);

ATENÇÃO:
Arquivos (missing.csv e database.csv) salvos na mesma pasta na qual está o arquivo com extensão .ipynb


 RESUMO INFORMATIVO
Índice Dados Missing:

[   4   13   23   32   46   61   62   63   64   65 1012 1013 1014 1015
 1016 1017 1018 1019 1020 1021 1022 1023 1024 1025 1026 1027 1028 1059
 1060 1061 1062 1063 1064 1065 1066 1067 1068 1069 1070 1071 1072 1073
 1074 1075 1076 1077 1078 1079 1080 1081 1082 1083 1084 1085 1086 1087
 1088 1089 1090 1091 1092 1093 1094 1095 1096 1097 1098 1099 1100 1101
 1102 1103 1104 1105 1106]

------------------------------------------------------------------------
Total de Missing: 123
nº Total de linhas: 2000
nº de linhas de Dados Missing: 75
nº de linhas Sem Dados Missing: 1925